body {
  height: 100vh;
  overflow: hidden !important;
  font-family: 'Teko', sans-serif;
}
body .game {
  background-image: url(/src/img/untitled.png);
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
}
body .game #hero {
  width: 1vw;
  height: 1vw;
  background: gainsboro;
  border-radius: 999px;
  z-index: 1;
  border: 1px solid gray;
}
body .game #range {
  border-radius: 9999px;
  border: 1px solid gray;
  background: #0001;
  position: absolute;
  width: 600px;
  height: 600px;
}
body .game #effects #healEffect {
  background: #00cc0044;
}
body .game .projectile {
  width: 0.5vw;
  height: 0.5vw;
  position: absolute;
  background: magenta;
  border-radius: 999px;
}
body .game .enemy {
  width: 1.7vw;
  height: 1.7vw;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
body .game .hud {
  bottom: 0;
  padding: 1.5vw;
  z-index: 1;
}
body .game .hud button.disabled {
  filter: grayscale(1);
}
body .game .hud .skills {
  right: 3vw;
}
body .game .hud .skills button {
  overflow: hidden;
}
body .game .hud .skills button.loading {
  pointer-events: none;
}
body .game .hud .skills button.loading:after {
  backdrop-filter: grayscale(1);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  animation: load 6s linear;
  background: #00000099;
  border-radius: 6px;
}
@keyframes load {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
body .game .hud .status .health .progress {
  height: 24px;
  border-radius: 6px 6px 6px 0 !important;
  line-height: 24px;
}
body .game .hud .status .mana .progress {
  height: 19px;
  line-height: 19px;
  border-radius: 0 0 6px 6px !important;
}
body .game .hud .status .health .progress-bar,
body .game .hud .status .mana .progress-bar {
  flex-direction: row;
}
body .game .hud #btnHero #btnMoney button {
  flex: 1;
}
body .game .hud #btnHero #btnMagic button {
  flex: 1;
}
body .game .hud .money {
  color: gold;
  text-shadow: 0 0 3px #000;
}
body .game .hud .magic {
  color: violet;
  text-shadow: 0 0 3px #000;
}
