body {
    height: 100vh;
    overflow: hidden !important;
    font-family: 'Teko', sans-serif;

    .tutorial {
        img {
            border-radius: 20px;
            border: 4px solid red;
        }
    }

    .game {
        background-image: url(../img/bg.png);
        background-size: cover;
        background-position: center;
        image-rendering: pixelated;
        height: 100vh !important;

        #overlays {
            position: absolute;
            display: block;
            height: 100vh !important;
            width: 100vw !important;
            overflow: hidden;
            top: 0;

            div {
                position: absolute;
                display: block;
                width: 100vw;
                height: 100vh;
                background-repeat: no-repeat;
                background-size: contain;
                top: 0;
                z-index: 1;
                filter: drop-shadow(0 0 15px #00000088);
            }

            #ov-top {
                background-image: url(../img/ov_1.png);
                top: 0;
            }

            #ov-bot {
                background-image: url(../img/ov_1.png);
                bottom: 0;
                transform: rotate(180deg);
            }

            #ov-left {
                background-image: url(../img/ov_2.png);
                background-position-x: left !important; 
            }

            #ov-right {
                background-image: url(../img/ov_2.png);
                background-position-x: left !important; 
                transform: rotate(180deg);
            }
        }

        #hero {
            width: 1vw;
            height: 1vw;
            z-index: 1;
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: -4vw;
                left: -2vw;
                width: 6vw;
                height: 6vw;
                background-image: url(../img/hero.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        #range {
            border-radius: 9999px;
            border: 1px solid gray;
            background: #0001;
            position: absolute;
            width: 600px;
            height: 600px;
        }

        #effects {
            #healEffect {
                background: #00cc0044;
            }
        }

        .projectile {
            width: 0.5vw;
            height: 0.5vw;
            position: absolute;
            z-index: 3;

            &:after {
                background: url(../img/arrow.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                content: "";
                position: absolute;
                transform: translateX(-50%) translateY(-39%);
                width: 400%;
                height: 400%;
            }
        }

        .enemy {
            width: 1.7vw;
            height: 1.7vw;
            position: absolute;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            image-rendering: pixelated;
        }

        .enemy:after {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            bottom: -2px;
            height: 15%;
            border-radius: 999px;
            box-shadow: 0 0 0.3vw 0.1vw #00000044;
            background: #00000044;
        }

        .hud {
            bottom: 0;
            padding: 1.5vw;
            z-index: 1;

            .text-shadow {
                text-shadow: 0 0 6px black;
            }

            button.disabled {
                filter: grayscale(1);
            }

            .skills {
                right: 3vw;

                button {
                    overflow: hidden;
                }

                button.loading {
                    pointer-events: none;

                    &:after {
                        backdrop-filter: grayscale(1);
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        bottom: 0;
                        left: 0;
                        animation: load 6s linear;
                        background: #00000099;
                        border-radius: 6px;
                    }

                    @keyframes load {
                        0% {
                            height: 100%;
                        }

                        100% {
                            height: 0%;
                        }
                    }
                }
            }

            .status {
                .health {
                    .progress {
                        height: 24px;
                        border-radius: 6px 6px 6px 0 !important;
                        line-height: 24px;
                    }
                }

                .mana {
                    .progress {
                        height: 19px;
                        line-height: 19px;
                        border-radius: 0 0 6px 6px !important;
                    }
                }

                .health, .mana {
                    .progress-bar {
                        flex-direction: row;
                    }
                }
            }

            #btnHero {
                #btnMoney {
                    button {
                        flex: 1;
                    }
                }
    
                #btnMagic {
                    button {
                        flex: 1;
                    }
                }
            }

            .money {
                color: gold;
                text-shadow: 0 0 3px #000;
            }

            .magic {
                color: violet;
                text-shadow: 0 0 3px #000;
            }
        }
    }

    #cheats {
        z-index: 10;
        > div {
            background-image: url(../img/ezgif.com-animated-gif-maker.gif);
            background-size: cover;
            background-position: top center;
            color: white;

            .progress-bar {
                transition: none !important;
            }
        }
    }
}