body {
  height: 100vh;
  overflow: hidden !important;
  font-family: 'Teko', sans-serif;
  background-image: url("../img/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .menu .d-flex > img {
  width: 20vw;
  filter: drop-shadow(4px 4px 10px #00000088);
}
body .menu button {
  width: 13vw;
  margin: auto;
  filter: drop-shadow(3px 3px 7px #00000088) brightness(1);
  transition: 0.3s;
}
body .menu button:hover {
  filter: drop-shadow(3px 3px 7px #00000088) brightness(1.2);
}
body .menu a {
  bottom: 1vw;
  right: 1vw;
  filter: drop-shadow(3px 3px 7px #00000088) brightness(1);
  transition: 0.3s;
}
body .menu a:hover {
  filter: drop-shadow(3px 3px 7px #00000088) brightness(1.2);
}
body .tutorial img {
  border-radius: 20px;
  border: 4px solid red;
}
body .currency {
  text-align: end;
}
body #newLevel {
  filter: drop-shadow(0 0 15px #00000066);
}
body .game {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  height: 100vh !important;
}
body .game .damage {
  color: white;
  font-weight: 800;
}
body .game #overlays {
  position: absolute;
  display: block;
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden;
  top: 0;
}
body .game #overlays div {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  z-index: 1;
  filter: drop-shadow(0 0 15px #00000088);
}
body .game #overlays #ov-top {
  background-image: url(../img/ov_1.png);
  top: 0;
}
body .game #overlays #ov-bot {
  background-image: url(../img/ov_1.png);
  bottom: 0;
  transform: rotate(180deg);
}
body .game #overlays #ov-left {
  background-image: url(../img/ov_2.png);
  background-position-x: left !important;
}
body .game #overlays #ov-right {
  background-image: url(../img/ov_2.png);
  background-position-x: left !important;
  transform: rotate(180deg);
}
body .game #hero {
  width: 1vw;
  height: 1vw;
  z-index: 1;
  position: relative;
}
body .game #hero:after {
  content: "";
  display: block;
  position: absolute;
  top: -4vw;
  left: -2vw;
  width: 6vw;
  height: 6vw;
  background-image: url(../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
body .game #range {
  border-radius: 9999px;
  border: 1px solid gray;
  background: #0001;
  position: absolute;
  width: 600px;
  height: 600px;
}
body .game #effects #healEffect {
  background: #00cc0044;
}
body .game .projectile {
  width: 0.5vw;
  height: 0.5vw;
  position: absolute;
  z-index: 3;
}
body .game .projectile:after {
  background: url(../img/arrow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  transform: translateX(-50%) translateY(-39%);
  width: 300%;
  height: 300%;
}
body .game .enemy {
  width: 1.7vw;
  height: 1.7vw;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
body .game .enemy .enemyHealth {
  height: 0.17vw;
  background: red;
  top: 2.2vw;
  position: relative;
}
body .game .enemy:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -2px;
  height: 15%;
  border-radius: 999px;
  box-shadow: 0 0 0.3vw 0.1vw #00000044;
  background: #00000044;
}
body .game .hud {
  bottom: 0;
  padding: 1.5vw;
  z-index: 1;
}
body .game .hud .text-shadow {
  text-shadow: 0 0 6px black;
}
body .game .hud button.disabled {
  filter: grayscale(1);
}
body .game .hud .skills {
  right: 3vw;
}
body .game .hud .skills button {
  overflow: hidden;
}
body .game .hud .skills button.loading {
  pointer-events: none;
}
body .game .hud .skills button.loading:after {
  backdrop-filter: grayscale(1);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  animation: load 6s linear;
  background: #00000099;
  border-radius: 6px;
}
@keyframes load {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
body .game .hud .status .health .progress {
  height: 24px;
  border-radius: 6px 6px 6px 0 !important;
  line-height: 24px;
}
body .game .hud .status .mana .progress {
  height: 19px;
  line-height: 19px;
  border-radius: 0 0 6px 6px !important;
}
body .game .hud .status .health .progress-bar,
body .game .hud .status .mana .progress-bar {
  flex-direction: row;
}
body .game .hud #btnHero #btnMoney button {
  flex: 1;
}
body .game .hud #btnHero #btnMagic button {
  flex: 1;
}
body .game .hud .money {
  color: gold;
  text-shadow: 0 0 3px #000;
}
body .game .hud .magic {
  color: violet;
  text-shadow: 0 0 3px #000;
}
body #cheats {
  z-index: 10;
}
body #cheats > div {
  background-image: url(../img/ezgif.com-animated-gif-maker.gif);
  background-size: cover;
  background-position: top center;
  color: white;
}
body #cheats > div .progress-bar {
  transition: none !important;
}
