body {
    height: 100vh;
    overflow: hidden !important;

    .game {
        #hero {
            width: 1vw;
            height: 1vw;
            background: gainsboro;
            border-radius: 999px;
            border: 1px solid gray;
        }

        #range {
            border-radius: 9999px;
            border: 1px solid gray;
            background: #0001;
            position: absolute;
            width: 600px;
            height: 600px;
        }

        .projectile {
            width: 0.5vw;
            height: 0.5vw;
            position: absolute;
            background: magenta;
            border-radius: 999px;
        }

        .enemy {
            width: 1vw;
            height: 1vw;
            position: absolute;
            background: red;
        }

        .hud {
            bottom: 0;
            padding: 5rem;
            z-index: 1;

            .status {
                .health {
                    .progress {
                        height: 20px;
                        border-radius: 6px 6px 6px 0 !important;
                    }
                }

                .mana {
                    .progress {
                        height: 16px;
                        border-radius: 0 0 6px 6px !important;
                    }
                }
            }

            .money {
                color: gold;
                text-shadow: 0 0 3px #000;
            }
        }
    }
}